application/core/grabconfig.xml
application/core/testGrabConfig.xml
application/core/testOldGrabconfig.xml
plugins/plugin-tester/habiTv.log
.metadata/
*.project
*.classpath
.settings
application/core/export.index
application/core/generated/
application/core/index/
application/core/plugins/
application/core/habiTv.lock
application/core/habiTv.log
application/core/bin/